.intro-text {
    font-size: 1.2rem;
    font-weight: 500;
}
.details-first {
    border: 3px solid #fff;
}
.details-title,
.details-crime,
.details-bail,
.details-amount {
    border: 3px solid #fff;
}
.details-title {
    font-size: 2rem;
    font-weight: 500;
}
.details-crime .txt1,
.details-bail .txt1,
.details-amount .txt1 {
    font-size: 1.2rem;
    font-weight: 500;
}
.details-crime .txt2,
.details-bail .txt2,
.details-amount .txt2 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.6rem!important;
}
@media screen and (max-width: 992px) {
    .details-first {
        border: none;
    }
    .details-title {
        border-top: 3px solid #fff !important;
        border-bottom: 3px solid #fff !important;
        border-left: none!important;
        border-right: none!important;
    }
    .details-crime {
        border-bottom: 3px solid #fff !important;
        border-left: none!important;
        border-right: none!important;
    }
    .details-bail {
        border-bottom: 3px solid #fff !important;
        border-left: none!important;
        border-right: none!important;
    }
    .details-amount {
        border-bottom: 3px solid #fff !important;
        border-left: none!important;
        border-right: none!important;
    }
}
.details-content-detail {
    border-bottom: 3px solid #303030;
}
.details-content-number {
    border-right: 3px solid #42a369;
}
.details-content-title {
    font-size: 1.4rem;
    line-height: 1.6rem!important;
    font-weight: 500;
    letter-spacing: 1px;
}
.details-content-text {
    font-size: 1rem;
    line-height: 1!important;
    font-family: "roboto";
}
.question { 
    font-size: 0.76rem;
    font-weight: 500;
    letter-spacing: 1px
}
.details-id { 
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 3rem!important;
}
.benefit-intro, .benefit-summary {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.benefit-summary {
    font-size: 1rem;
    line-height: 1.4rem!important;
    font-family: "roboto";
}