.footer-title, .footer-title span {
  line-height: 0.55!important;
}
.footer-img {
  /* box-shadow: 0px 0px 5rem #cbefa2, 5px 5px 5rem #a5cb2b inset;
  border-radius: 4rem; */
}
.footer-join-text {
  font-size: 1rem;
  line-height: 1.2rem!important;
}
.copyright {
  font-size: 0.8rem;
  font-family: "roboto";
}
.copyright a {
  font-size: 1rem;
  text-decoration: underline;
}